<div class="hero min-h-screen bg-blue-50">
  <div
    class="flex justify-center items-center p-6 bg-blue-50 rounded-full mx-auto mt-10"
  >
    <div class="hero-content flex-col lg:flex-row-reverse mt-6">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold text-pink-600">Join the Yummy Family!</h1>
        <p class="py-6 text-pink-800">
          Sign up to create your account and enjoy our delightful cakes anytime.
          Be a part of Yummy's sweet journey!
        </p>
      </div>
      <div class="card w-full max-w-sm shrink-0 shadow-2xl bg-white">
        <form
          [formGroup]="signupForm"
          (ngSubmit)="onSubmit()"
          class="card-body"
        >
          <div class="form-control">
            <label class="label">
              <span class="label-text text-pink-800">Full Name</span>
            </label>
            <input
              type="text"
              formControlName="fullName"
              placeholder="Enter your full name"
              class="input input-bordered bg-white text-black border-pink-400"
            />
            <div
              *ngIf="fullName?.touched && fullName?.invalid"
              class="text-red-500 text-sm"
            >
              <p *ngIf="fullName?.errors?.['required']">Name is required.</p>
              <p *ngIf="fullName?.errors?.['minlength']">
                Name must be at least 2 characters long.
              </p>
            </div>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-pink-800">Email</span>
            </label>
            <input
              type="email"
              formControlName="email"
              placeholder="Enter your email"
              class="input input-bordered bg-white text-black border-pink-400"
            />
            <div
              *ngIf="email?.touched && email?.invalid"
              class="text-red-500 text-sm"
            >
              <p *ngIf="email?.errors?.['required']">Email is required.</p>
              <p *ngIf="email?.errors?.['email']">Invalid email format.</p>
            </div>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-pink-800">Password</span>
            </label>
            <input
              type="password"
              formControlName="password"
              placeholder="Enter your password"
              class="input input-bordered bg-white text-black border-pink-400"
            />
            <div
              *ngIf="password?.touched && password?.invalid"
              class="text-red-500 text-sm"
            >
              <p *ngIf="password?.errors?.['required']">
                Password is required.
              </p>
              <p *ngIf="password?.errors?.['pattern']">
                Password must include uppercase, lowercase, number, and special
                character.
              </p>
            </div>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-pink-800">Confirm Password</span>
            </label>
            <input
              type="password"
              formControlName="confirmPassword"
              placeholder="Re-enter your password"
              class="input input-bordered bg-white text-black border-pink-400"
            />
            <div
              *ngIf="signupForm.errors?.['mismatch']"
              class="text-red-500 text-sm"
            >
              Passwords must match.
            </div>
          </div>
          <div class="form-control mt-6">
            <button
              type="submit"
              class="btn bg-pink-600 text-white hover:bg-pink-700"
              [disabled]="signupForm.invalid"
            >
              Sign Up
            </button>
          </div>
          <p class="mt-4 text-center text-pink-800">
            Already have an account?
            <a
              routerLink="/auth/signin"
              class="link link-hover text-pink-600 font-bold"
              >Sign In</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
