<!-- Modal for Image Viewer -->
<div
  *ngIf="isModalOpen"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-75"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal-title"
  (click)="closeModal()"
>
  <div
    class="relative bg-white rounded-lg overflow-hidden shadow-lg max-w-6xl w-full"
    (click)="$event.stopPropagation()"
  >
    <!-- Close Button -->
    <button
      (click)="closeModal()"
      class="absolute top-2 right-2 text-gray-400 hover:text-gray-600 focus:outline-none"
      aria-label="Close Modal"
    >
      ✖
    </button>

    <!-- Modal Content -->
    <div class="p-4">
      <img
        [src]="selectedImage"
        alt="Product Image"
        class="w-full h-auto object-contain"
      />
    </div>
  </div>
</div>

<div class="max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
    <div
      *ngFor="let cake of displayedCakes"
      class="bg-white border border-gray-200 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300"
    >
      <img
        [src]="'http://localhost:3000/uploads/' + cake.imageUrl"
        [alt]="cake.name"
        (click)="
          openModalImage('http://localhost:3000/uploads/' + cake.imageUrl)
        "
        class="w-full h-48 object-cover rounded-t-lg"
      />
      <div class="p-4">
        <h2 class="text-lg font-semibold text-gray-800">{{ cake.name }}</h2>
        <p class="mt-2 text-sm text-gray-600">{{ cake.description }}</p>
        <button
          class="mt-4 w-full py-2 px-4 text-sm font-medium text-white bg-pink-600 rounded-md hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-400"
          (click)="addToCart(cake)"
        >
          Order Now
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<div class="flex justify-center mt-6">
  <div class="join">
    <button
      *ngFor="let page of [].constructor(totalPages); let i = index"
      (click)="changePage(i + 1)"
      [class.btn-active]="currentPage === i + 1"
      class="join-item btn bg-pink-600 text-white hover:bg-pink-700"
    >
      {{ i + 1 }}
    </button>
  </div>
</div>
